.container{
    display:grid;
    margin:0px auto;
    max-width: 100px;
    border: 2px solid grey;
    border-radius: 20px;
    padding:80px 100px;
    overflow: hidden;
    justify-content: center;
    background-color: black;
    opacity: 0.5;
    color:white;
    margin-top:200px;
}
input{
    margin-top:10px;
}
body{
    background-color: green;
}